@media (min-width: 798px) {
  nav ul {
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .hamburger {
    display: none;
  }
  main {
    max-width: 1080px;
    margin: 0 auto;
  }
  nav ul li a {
    font-size: 20px;
  }
  .nav-link2 {
    display: none;
  }
  .hero img {
    width: 100%;
  }
  .hero-button {
    position: absolute;
    left: 70%;
    top: 70%;
    font-size: 20px;
  }
  .weather-forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .weather-forecast div {
    min-width: 260px;
  }
}
